body{
    background-color: black;
  #contenus_accueil{
		color: white;
    width: 600px;
    margin-top : 20px;
  }
  table{
    color: gold;
    .oui{
      color: green;
    }
    .non{
      color: purple;
    }
  }
  #recrutement{
    margin-top: 20px;
  }
  h6{
    color: white;
  }
  #mention{
    color: gold;
  }
  h2{
    color: #C8C8C8;
  }
  p{
    color: white;
    font-size: 20px;
  }
  .membres{
    border: 2px solid gold;
    color: white;
  }
  .GM{
    border: 2px solid gold;
    color: blue;
  }
}
header{
      font-size: 25px;
  h1{
  	color: gold;
  }
  p{
  	font-size: 15px;
  	color: gold;
  }
  ul{
  	border : 5px solid gold;
    li{
  	 margin-left: 70px;
    }
  }
}
