body {
  background-color: black; }
  body #contenus_accueil {
    color: white;
    width: 600px;
    margin-top: 20px; }
  body table {
    color: gold; }
    body table .oui {
      color: green; }
    body table .non {
      color: purple; }
  body #recrutement {
    margin-top: 20px; }
  body h6 {
    color: white; }
  body #mention {
    color: gold; }
  body h2 {
    color: #C8C8C8; }
  body p {
    color: white;
    font-size: 20px; }
  body .membres {
    border: 2px solid gold;
    color: white; }
  body .GM {
    border: 2px solid gold;
    color: blue; }

header {
  font-size: 25px; }
  header h1 {
    color: gold; }
  header p {
    font-size: 15px;
    color: gold; }
  header ul {
    border: 5px solid gold; }
    header ul li {
      margin-left: 70px; }
